In [2]:
import yfinance as yf
import datetime
import pandas as pd

C:\Users\jeetc\miniconda3\envs\aml1114\lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [25]:
india_symbols = ['^NSEI','^CNXIT - NIFTY IT.']
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2024, 3, 6)

# Function to fetch historical data for a symbol
def fetch_data(symbol):
    data = yf.download(symbol, start=start, end=end)
    return data[['Open','High','Low' ,'Close', 'Volume']].rename(columns={'Open': f'{symbol}_open','Low': f'{symbol}_low','High': f'{symbol}_high','Close': f'{symbol}_close', 'Volume': f'{symbol}_volume'})

# Fetch data for all symbols and create a DataFrame
dfs = [fetch_data(symbol) for symbol in india_symbols]
result_df = pd.concat(dfs, axis=1, join='inner')

# Print the resulting DataFrame
print(result_df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  4 of 4 completed

3 Failed downloads:
['NIFTY', '-', 'IT.']: Exception('%ticker%: No timezone found, symbol may be delisted')

              ^NSEI_open    ^NSEI_high     ^NSEI_low   ^NSEI_close  \
Date
2018-01-02  10477.549805  10495.200195  10404.650391  10442.200195
2018-01-03  10482.650391  10503.599609  10429.549805  10443.200195
2018-01-04  10469.400391  10513.000000  10441.450195  10504.799805
2018-01-05  10534.250000  10566.099609  10520.099609  10558.849609
2018-01-08  10591.700195  10631.200195  10588.549805  10623.599609

            ^NSEI_volume  (^CNXIT - NIFTY IT._open, -)  \
Date
2018-01-02        153400                           NaN
2018-01-03        167300                           NaN
2018-01-04        174900                           NaN
2018-01-05        180900                           NaN
2018-01-08        169000                           NaN

            (^CNXIT - NIFTY IT._open, IT.)  (^CNXIT - NIFTY IT._open, NIFTY)  \
Date
2018-01-02                             NaN                               NaN
2018-01-03                             NaN                               NaN
2018-01-04                             NaN                               NaN
2018-01-05                             NaN                               NaN
2018-01-08                             NaN                               NaN

            (^CNXIT - NIFTY IT._open, ^CNXIT)  (^CNXIT - NIFTY IT._high, -)  \
Date
2018-01-02                       11587.849609                           NaN
2018-01-03                       11617.349609                           NaN
2018-01-04                       11599.049805                           NaN
2018-01-05                       11575.450195                           NaN
2018-01-08                       11674.349609                           NaN

            ...  (^CNXIT - NIFTY IT._low, NIFTY)  \
Date        ...
2018-01-02  ...                              NaN
2018-01-03  ...                              NaN
2018-01-04  ...                              NaN
2018-01-05  ...                              NaN
2018-01-08  ...                              NaN

            (^CNXIT - NIFTY IT._low, ^CNXIT)  (^CNXIT - NIFTY IT._close, -)  \
Date
2018-01-02                      11558.450195                            NaN
2018-01-03                      11573.250000                            NaN
2018-01-04                      11510.400391                            NaN
2018-01-05                      11541.799805                            NaN
2018-01-08                      11661.500000                            NaN

            (^CNXIT - NIFTY IT._close, IT.)  \
Date
2018-01-02                              NaN
2018-01-03                              NaN
2018-01-04                              NaN
2018-01-05                              NaN
2018-01-08                              NaN

            (^CNXIT - NIFTY IT._close, NIFTY)  \
Date
2018-01-02                                NaN
2018-01-03                                NaN
2018-01-04                                NaN
2018-01-05                                NaN
2018-01-08                                NaN

            (^CNXIT - NIFTY IT._close, ^CNXIT)  \
Date
2018-01-02                        11602.349609
2018-01-03                        11586.700195
2018-01-04                        11590.799805
2018-01-05                        11633.549805
2018-01-08                        11776.849609

            (^CNXIT - NIFTY IT._volume, -)  (^CNXIT - NIFTY IT._volume, IT.)  \
Date
2018-01-02                             NaN                               NaN
2018-01-03                             NaN                               NaN
2018-01-04                             NaN                               NaN
2018-01-05                             NaN                               NaN
2018-01-08                             NaN                               NaN

            (^CNXIT - NIFTY IT._volume, NIFTY)  \
Date
2018-01-02                                 NaN
2018-01-03                                 NaN
2018-01-04                                 NaN
2018-01-05                                 NaN
2018-01-08                                 NaN

            (^CNXIT - NIFTY IT._volume, ^CNXIT)
Date
2018-01-02                                    0
2018-01-03                                    0
2018-01-04                                    0
2018-01-05                                    0
2018-01-08                                    0

[5 rows x 25 columns]

In [27]:
yf.download('^NSEI', start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,10477.549805,10495.200195,10404.650391,10442.200195,10442.200195,153400
2018-01-03,10482.650391,10503.599609,10429.549805,10443.200195,10443.200195,167300
2018-01-04,10469.400391,10513.000000,10441.450195,10504.799805,10504.799805,174900
2018-01-05,10534.250000,10566.099609,10520.099609,10558.849609,10558.849609,180900
2018-01-08,10591.700195,10631.200195,10588.549805,10623.599609,10623.599609,169000
...,...,...,...,...,...,...
2024-02-28,22214.099609,22229.150391,21915.849609,21951.150391,21951.150391,203000
2024-02-29,21935.199219,22060.550781,21860.650391,21982.800781,21982.800781,360200
2024-03-01,22048.300781,22353.300781,22047.750000,22338.750000,22338.750000,351500
2024-03-04,22403.500000,22440.900391,22358.300781,22405.599609,22405.599609,298800
2024-03-05,22371.250000,22416.900391,22269.150391,22356.300781,22356.300781,296200

In [3]:


# Define symbols, start, and end dates
symbols = ['^DJI', 'BTC-USD', 'ETH-USD', 'CL=F', 'GC=F', 'SI=F', 'NG=F', 'DX-Y.NYB', '^BSESN', '^NDX', '^GSPC', '^NSEI']
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2024, 4, 6)

# Function to fetch historical data for a symbol
def fetch_data(symbol):
    data = yf.download(symbol, start=start, end=end)
    return data[['Open','High','Low' ,'Close', 'Volume']].rename(columns={'Open': f'{symbol}_open','Low': f'{symbol}_low','High': f'{symbol}_high','Close': f'{symbol}_close', 'Volume': f'{symbol}_volume'})

# Fetch data for all symbols and create a DataFrame
dfs = [fetch_data(symbol) for symbol in symbols]
result_df = pd.concat(dfs, axis=1, join='inner')

# Print the resulting DataFrame
print(result_df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

               ^DJI_open     ^DJI_high      ^DJI_low    ^DJI_close  \
Date
2018-01-02  24809.349609  24864.189453  24741.699219  24824.009766
2018-01-03  24850.449219  24941.919922  24825.550781  24922.679688
2018-01-04  24964.859375  25105.960938  24963.269531  25075.130859
2018-01-05  25114.919922  25299.789062  25112.009766  25295.869141
2018-01-08  25308.400391  25311.990234  25235.410156  25283.000000

            ^DJI_volume  BTC-USD_open  BTC-USD_high   BTC-USD_low  \
Date
2018-01-02    341130000  13625.000000  15444.599609  13163.599609
2018-01-03    456790000  14978.200195  15572.799805  14844.500000
2018-01-04    403280000  15270.700195  15739.700195  14522.200195
2018-01-05    358020000  15477.200195  17705.199219  15202.799805
2018-01-08    341390000  16476.199219  16537.900391  14208.200195

            BTC-USD_close  BTC-USD_volume  ...   ^GSPC_open   ^GSPC_high  \
Date                                       ...
2018-01-02   14982.099609     16846600192  ...  2683.729980  2695.889893
2018-01-03   15201.000000     16871900160  ...  2697.850098  2714.370117
2018-01-04   15599.200195     21783199744  ...  2719.310059  2729.290039
2018-01-05   17429.500000     23840899072  ...  2731.330078  2743.449951
2018-01-08   15170.099609     18413899776  ...  2742.669922  2748.510010

              ^GSPC_low  ^GSPC_close  ^GSPC_volume    ^NSEI_open  \
Date
2018-01-02  2682.360107  2695.810059    3397430000  10477.549805
2018-01-03  2697.770020  2713.060059    3544030000  10482.650391
2018-01-04  2719.070068  2723.989990    3697340000  10469.400391
2018-01-05  2727.919922  2743.149902    3239280000  10534.250000
2018-01-08  2737.600098  2747.709961    3246160000  10591.700195

              ^NSEI_high     ^NSEI_low   ^NSEI_close  ^NSEI_volume
Date
2018-01-02  10495.200195  10404.650391  10442.200195        153400
2018-01-03  10503.599609  10429.549805  10443.200195        167300
2018-01-04  10513.000000  10441.450195  10504.799805        174900
2018-01-05  10566.099609  10520.099609  10558.849609        180900
2018-01-08  10631.200195  10588.549805  10623.599609        169000

[5 rows x 60 columns]

In [12]:
news_date_time = datetime.datetime.strptime(
                "April 12, 2024 10:15 AM IST"[:-4], '%B %d, %Y %I:%M %p')

In [11]:
"April 12, 2024 10:15 AM IST"[:-4]

'April 12, 2024 10:15 AM'

In [7]:
result_df.columns

Index(['^DJI_open', '^DJI_high', '^DJI_low', '^DJI_close', '^DJI_volume',
       'BTC-USD_open', 'BTC-USD_high', 'BTC-USD_low', 'BTC-USD_close',
       'BTC-USD_volume', 'ETH-USD_open', 'ETH-USD_high', 'ETH-USD_low',
       'ETH-USD_close', 'ETH-USD_volume', 'CL=F_open', 'CL=F_high', 'CL=F_low',
       'CL=F_close', 'CL=F_volume', 'GC=F_open', 'GC=F_high', 'GC=F_low',
       'GC=F_close', 'GC=F_volume', 'SI=F_open', 'SI=F_high', 'SI=F_low',
       'SI=F_close', 'SI=F_volume', 'NG=F_open', 'NG=F_high', 'NG=F_low',
       'NG=F_close', 'NG=F_volume', 'DX-Y.NYB_open', 'DX-Y.NYB_high',
       'DX-Y.NYB_low', 'DX-Y.NYB_close', 'DX-Y.NYB_volume', '^BSESN_open',
       '^BSESN_high', '^BSESN_low', '^BSESN_close', '^BSESN_volume',
       '^NDX_open', '^NDX_high', '^NDX_low', '^NDX_close', '^NDX_volume',
       '^GSPC_open', '^GSPC_high', '^GSPC_low', '^GSPC_close', '^GSPC_volume',
       '^NSEI_open', '^NSEI_high', '^NSEI_low', '^NSEI_close', '^NSEI_volume'],
      dtype='object')

In [13]:
result_df.to_csv("global_indices.csv")

In [28]:
news_api_key = '7bd6f9bf92c7443196d64f69ac581a87'

In [32]:
import requests
import datetime

# Replace 'YOUR_API_KEY' with your actual News API key
api_key = 'YOUR_API_KEY'

# Define the endpoint and parameters
url = 'https://newsapi.org/v2/everything'
params = {
    'apiKey': news_api_key,
    'q': 'finance',  # You can specify keywords related to finance or your area of interest
    'from': '2018-01-01',
    'to': '2018-12-31',
    'pageSize': 100,  # Adjust the number of results per page as needed
}

# Make the API request
response = requests.get(url, params=params)

# Parse the JSON response
data = response.json()

# Process the news articles
articles = data.get('articles', [])

for article in articles:
    print(f"Title: {article['title']}")
    print(f"Published at: {article['publishedAt']}")
    print(f"Description: {article['description']}")
    print(f"URL: {article['url']}")
    print("\n" + "-"*50 + "\n")

In [33]:
data

{'status': 'error',
 'code': 'parameterInvalid',
 'message': 'You are trying to request results too far in the past. Your plan permits you to request articles as far back as 2024-02-07, but you have requested 2018-01-01. You may need to upgrade to a paid plan.'}