In [1]:
import pandas as pd
import numpy as np
import datetime
import yfinance as yf
import string

C:\Users\jeetc\miniconda3\envs\aml1114\lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
def remove_punctuation(text:str):
    return text.translate(str.maketrans("","",string.punctuation))

def preprocess_df(df, prefix, date_col="date", rename_date=False):
    # Create a copy
    df = df.copy()
    
    # Function to add prefix
    add_prefix = lambda x: prefix + x if x != date_col else x
    
    # Fix the column names
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .map(remove_punctuation)
        .map(add_prefix)
    )
    
    # Convert to pandas datetime if needed
    if rename_date:
        date_col = prefix + date_col
        df[date_col] = pd.to_datetime(df[date_col])
    
    return df

In [18]:
symbols = ['^DJI', 'BTC-USD', 'ETH-USD', 'CL=F', 'GC=F', 'SI=F', 'NG=F','DX-Y.NYB', '^BSESN','^NDX', '^GSPC','^NSEI'] 
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2024, 3, 6)

# Initialize an empty list to store DataFrames
dfs = []

# Loop through symbols and download data for each
for symbol in symbols:
    df = yf.download(symbol, start, end)
    df.reset_index(inplace=True)
    prefix = symbol
    df = preprocess_df(df, prefix + "_", date_col='Date', rename_date=True)
    dfs.append(df)

# Concatenate the DataFrames
combined_df = pd.concat(dfs, axis=1)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [16]:
preprocess_df(dfs[0], prefix + "_", date_col='Date', rename_date=False)

,date,open,high,low,close,adj close,volume
0,2018-01-02,24809.349609,24864.189453,24741.699219,24824.009766,24824.009766,341130000
1,2018-01-03,24850.449219,24941.919922,24825.550781,24922.679688,24922.679688,456790000
2,2018-01-04,24964.859375,25105.960938,24963.269531,25075.130859,25075.130859,403280000
3,2018-01-05,25114.919922,25299.789062,25112.009766,25295.869141,25295.869141,358020000
4,2018-01-08,25308.400391,25311.990234,25235.410156,25283.000000,25283.000000,341390000
...,...,...,...,...,...,...,...
1548,2024-02-28,38938.078125,38956.460938,38741.679688,38949.019531,38949.019531,272560000
1549,2024-02-29,39013.750000,39074.128906,38809.281250,38996.390625,38996.390625,519690000
1550,2024-03-01,38989.511719,39120.359375,38850.500000,39087.378906,39087.378906,331030000
1551,2024-03-04,38968.769531,39087.859375,38913.300781,38989.828125,38989.828125,386290000
1552,2024-03-05,38906.980469,38906.980469,38457.828125,38585.191406,38585.191406,393750000

In [10]:
yf.download('^DJI', start, end)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,24809.349609,24864.189453,24741.699219,24824.009766,24824.009766,341130000
2018-01-03,24850.449219,24941.919922,24825.550781,24922.679688,24922.679688,456790000
2018-01-04,24964.859375,25105.960938,24963.269531,25075.130859,25075.130859,403280000
2018-01-05,25114.919922,25299.789062,25112.009766,25295.869141,25295.869141,358020000
2018-01-08,25308.400391,25311.990234,25235.410156,25283.000000,25283.000000,341390000
...,...,...,...,...,...,...
2024-02-28,38938.078125,38956.460938,38741.679688,38949.019531,38949.019531,272560000
2024-02-29,39013.750000,39074.128906,38809.281250,38996.390625,38996.390625,519690000
2024-03-01,38989.511719,39120.359375,38850.500000,39087.378906,39087.378906,331030000
2024-03-04,38968.769531,39087.859375,38913.300781,38989.828125,38989.828125,386290000
2024-03-05,38906.980469,38906.980469,38457.828125,38585.191406,38585.191406,393750000

,Date,^DJI_open,^DJI_high,^DJI_low,^DJI_close,^DJI_adj close,^DJI_volume,BTC-USD_open,BTC-USD_high,BTC-USD_low,...,^GSPC_low,^GSPC_close,^GSPC_adj close,^GSPC_volume,^NSEI_open,^NSEI_high,^NSEI_low,^NSEI_close,^NSEI_adj close,^NSEI_volume
0,2018-01-02 00:00:00,24809.349609,24864.189453,24741.699219,24824.009766,24824.009766,341130000.0,14112.200195,14112.200195,13154.700195,...,2682.360107,2695.810059,2695.810059,3.397430e+09,10477.549805,10495.200195,10404.650391,10442.200195,10442.200195,153400.0
1,2018-01-03 00:00:00,24850.449219,24941.919922,24825.550781,24922.679688,24922.679688,456790000.0,13625.000000,15444.599609,13163.599609,...,2697.770020,2713.060059,2713.060059,3.544030e+09,10482.650391,10503.599609,10429.549805,10443.200195,10443.200195,167300.0
2,2018-01-04 00:00:00,24964.859375,25105.960938,24963.269531,25075.130859,25075.130859,403280000.0,14978.200195,15572.799805,14844.500000,...,2719.070068,2723.989990,2723.989990,3.697340e+09,10469.400391,10513.000000,10441.450195,10504.799805,10504.799805,174900.0
3,2018-01-05 00:00:00,25114.919922,25299.789062,25112.009766,25295.869141,25295.869141,358020000.0,15270.700195,15739.700195,14522.200195,...,2727.919922,2743.149902,2743.149902,3.239280e+09,10534.250000,10566.099609,10520.099609,10558.849609,10558.849609,180900.0
4,2018-01-08 00:00:00,25308.400391,25311.990234,25235.410156,25283.000000,25283.000000,341390000.0,15477.200195,17705.199219,15202.799805,...,2737.600098,2747.709961,2747.709961,3.246160e+09,10591.700195,10631.200195,10588.549805,10623.599609,10623.599609,169000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,2024-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,61168.062500,63155.101562,60802.527344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2252,2024-03-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,62431.652344,62458.699219,61657.289062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2253,2024-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,62031.578125,63230.210938,61435.023438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,2024-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,63137.003906,68537.031250,62386.519531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2255,2024-03-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,68341.054688,69170.625000,59323.910156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Find all date columns
date_cols = [col for col in combined_df.columns if "date" in col.lower()]

# Merge DataFrames on all date columns
if len(date_cols) > 1:
    combined_df['Date'] = None
    for col in date_cols:
        combined_df['Date'] = combined_df['Date'].combine_first(combined_df[col])
    combined_df.drop(columns=date_cols, inplace=True)
    combined_df.dropna(subset=['Date'], inplace=True)
    print("Combined multiple date columns into a single 'Date' column.")
elif len(date_cols) == 0:
    raise ValueError("No common date column found among the DataFrames")
else:
    common_date_col = date_cols[0]
    combined_df.rename(columns={common_date_col: 'Date'}, inplace=True)
    print("Renamed the common date column to 'Date'.")

# Move the "Date" column to the first position
cols = combined_df.columns.tolist()
cols = ['Date'] + [col for col in cols if col != 'Date']
combined_df = combined_df[cols]

combined_df.head()

Combined multiple date columns into a single 'Date' column.

,Date,^DJI_open,^DJI_high,^DJI_low,^DJI_close,^DJI_adj close,^DJI_volume,BTC-USD_open,BTC-USD_high,BTC-USD_low,...,^GSPC_low,^GSPC_close,^GSPC_adj close,^GSPC_volume,^NSEI_open,^NSEI_high,^NSEI_low,^NSEI_close,^NSEI_adj close,^NSEI_volume
0,2018-01-02 00:00:00,24809.349609,24864.189453,24741.699219,24824.009766,24824.009766,341130000.0,14112.200195,14112.200195,13154.700195,...,2682.360107,2695.810059,2695.810059,3.397430e+09,10477.549805,10495.200195,10404.650391,10442.200195,10442.200195,153400.0
1,2018-01-03 00:00:00,24850.449219,24941.919922,24825.550781,24922.679688,24922.679688,456790000.0,13625.000000,15444.599609,13163.599609,...,2697.770020,2713.060059,2713.060059,3.544030e+09,10482.650391,10503.599609,10429.549805,10443.200195,10443.200195,167300.0
2,2018-01-04 00:00:00,24964.859375,25105.960938,24963.269531,25075.130859,25075.130859,403280000.0,14978.200195,15572.799805,14844.500000,...,2719.070068,2723.989990,2723.989990,3.697340e+09,10469.400391,10513.000000,10441.450195,10504.799805,10504.799805,174900.0
3,2018-01-05 00:00:00,25114.919922,25299.789062,25112.009766,25295.869141,25295.869141,358020000.0,15270.700195,15739.700195,14522.200195,...,2727.919922,2743.149902,2743.149902,3.239280e+09,10534.250000,10566.099609,10520.099609,10558.849609,10558.849609,180900.0
4,2018-01-08 00:00:00,25308.400391,25311.990234,25235.410156,25283.000000,25283.000000,341390000.0,15477.200195,17705.199219,15202.799805,...,2737.600098,2747.709961,2747.709961,3.246160e+09,10591.700195,10631.200195,10588.549805,10623.599609,10623.599609,169000.0

In [9]:
combined_df.tail(50)

,Date,^DJI_open,^DJI_high,^DJI_low,^DJI_close,^DJI_adj close,^DJI_volume,BTC-USD_open,BTC-USD_high,BTC-USD_low,...,^GSPC_low,^GSPC_close,^GSPC_adj close,^GSPC_volume,^NSEI_open,^NSEI_high,^NSEI_low,^NSEI_close,^NSEI_adj close,^NSEI_volume
2206,2024-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42499.335938,43566.273438,42085.996094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,2024-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,43132.101562,43189.890625,42189.308594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2208,2024-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42742.312500,42876.347656,40631.171875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2209,2024-01-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,41278.460938,42134.160156,40297.457031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210,2024-01-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,41624.589844,41877.894531,41446.824219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2211,2024-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,41671.488281,41855.367188,41497.007812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2212,2024-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,41553.652344,41651.207031,39450.117188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2213,2024-01-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,39518.714844,40127.351562,38521.894531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,2024-01-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,39877.593750,40483.785156,39508.796875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2215,2024-01-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,40075.550781,40254.480469,39545.664062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216,2024-01-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,39936.816406,42209.386719,39825.691406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,2024-01-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,41815.625000,42195.632812,41431.281250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2218,2024-01-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42126.125000,42797.175781,41696.910156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2219,2024-01-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42030.914062,43305.867188,41818.332031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2220,2024-01-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,43300.226562,43838.945312,42711.371094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2221,2024-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42946.250000,43717.406250,42298.945312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2222,2024-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42569.761719,43243.167969,41879.191406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2223,2024-02-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,43077.640625,43422.488281,42584.335938,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2224,2024-02-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,43184.964844,43359.941406,42890.808594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2225,2024-02-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42994.941406,43097.644531,42374.832031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2226,2024-02-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42577.621094,43494.250000,42264.816406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,2024-02-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,42657.390625,43344.148438,42529.019531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2024-02-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,43090.019531,44341.949219,42775.957031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,2024-02-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,44332.125000,45575.839844,44332.125000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,2024-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,45297.382812,48152.496094,45260.824219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,2024-02-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,47153.527344,48146.171875,46905.320312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2232,2024-02-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,47768.968750,48535.937500,47617.406250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2233,2024-02-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,48296.386719,50280.476562,47745.761719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,2024-02-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,49941.359375,50358.390625,48406.496094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2235,2024-02-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,49733.445312,52021.371094,49296.832031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2236,2024-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51836.785156,52820.066406,51371.628906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2237,2024-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51937.726562,52537.968750,51641.367188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2238,2024-02-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,52161.675781,52191.914062,50669.667969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2239,2024-02-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51661.968750,52356.964844,51233.707031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2240,2024-02-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,52134.812500,52483.324219,51711.820312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2241,2024-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51777.726562,52945.050781,50792.312500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2242,2024-02-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,52273.535156,52368.816406,50671.757812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2243,2024-02-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51854.644531,52009.613281,50926.292969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2244,2024-02-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51283.906250,51497.933594,50561.777344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245,2024-02-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,50736.371094,51684.195312,50585.445312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2246,2024-02-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51565.214844,51950.027344,51306.171875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2247,2024-02-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,51730.539062,54938.175781,50931.031250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2248,2024-02-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,54519.363281,57537.839844,54484.199219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2249,2024-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,57071.097656,63913.132812,56738.425781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2250,2024-02-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,62499.183594,63585.644531,60498.730469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2251,2024-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,61168.062500,63155.101562,60802.527344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2252,2024-03-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,62431.652344,62458.699219,61657.289062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2253,2024-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,62031.578125,63230.210938,61435.023438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,2024-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,63137.003906,68537.031250,62386.519531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2255,2024-03-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,68341.054688,69170.625000,59323.910156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
combined_df.to_csv("symbol.csv",index=False)

In [13]:
import datetime
import yfinance as yf
import pandas as pd

# Function to preprocess each DataFrame
def preprocess_df(df, prefix, date_col='Date', rename_date=True):
    # Your preprocessing logic goes here
    # For example, convert column names to lowercase and remove punctuation
    df.columns = df.columns.str.lower().str.replace('[^\w\s]', '', regex=True)

    # Optionally, rename the 'Date' column with the prefix
    if rename_date:
        df.rename(columns={date_col: prefix + date_col}, inplace=True)

    return df

symbols = ['^DJI', 'BTC-USD', 'ETH-USD', 'CL=F', 'GC=F', 'SI=F', 'NG=F','DX-Y.NYB', '^BSESN','^NDX', '^GSPC','^NSEI'] 
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2024, 3, 6)

# Initialize an empty list to store DataFrames
dfs = []

# Loop through symbols and download data for each
for symbol in symbols:
    df = yf.download(symbol, start, end)
    df.reset_index(inplace=True)
    prefix = symbol
    df = preprocess_df(df, prefix + "_", date_col='Date', rename_date=False)
    dfs.append(df)

# Merge DataFrames based on the 'Date' column
combined_df = dfs[0]  # Initialize with the first DataFrame
for df in dfs[1:]:
    combined_df = pd.merge(combined_df, df, on='Date', how='outer')

# If you want to fill missing values with 0, you can uncomment the line below
# combined_df = combined_df.fillna(0)

print(combined_df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

KeyError: 'Date'